# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Data and outputs
data/*
!data/.gitkeep
output/*
!output/.gitkeep

# Jupyter
*.ipynb_checkpoints/

# OS files
.DS_Store

src/cv/video_datasets
src/cv/output_data.json
src/cv/output_data.csv
*.idea